.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,35,13);
    color: #f5f5f5;
    height: 100vh;
    padding: 20px;
}

h2 {
    color: #e8a600;
    margin-bottom: 2rem; 
}

.vote-table {
    overflow-y: auto;
    width: 80vh;
    height: 50vh;
    background-color: #7a6a53;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vote-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e8a600;
}

.vote-row:nth-child(odd) {
    background-color: #8c7a64;
}

.vote-row:nth-child(even) {
    background-color: #7a6a53;
}

.vote-name, .vote-email, .vote-status {
    margin-right: 10px;
    color: #e8e6e1;
}

.vote-status {
    font-weight: bold;
    color: #e8a600;
}
