* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.page {
  width: 100%;
  min-height: 100vh;
}