.card-container {
  background-color: #5f4e33;
  display: flex;
  flex-direction: column;
  width: 20vw;
  /* max-width: 300px;
  min-width: 200px; */
  height: 50vh;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 2em;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-container:hover {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  transform: scale(105%);
}

.head h2 {
  font-family: "Georgia", serif;

  padding-top: 3rem;
  font-size: 3rem;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: aliceblue;
}

.card-content {
  font-size: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
}

.card-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.card-btn {
  background-color: #f5b744;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-left: 1em;
  border: 1px solid #e8a600;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}

.card-btn:hover {
  background-color: transparent;
  transform: scale(1.05);
  border-color: #f5b744;
}

@media (max-width: 768px) {
  .card-container {
    width: 40vw;
    height: 30vh;
  }

  .card-title {
    font-size: 1em;
  }

  .card-btn {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .card-container {
    width: 80vw;
    height: auto;
  }

  .card-image {
    height: 200px;
  }
}
