.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Georgia", serif;
}

.login h1 {
  color: #edbf68;

  font-size: 40px;
}

.login h2 {
  color: #edbf68;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.login form {
  background-color: #5f4e33;
  padding: 20px;
  font-size: bold;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login form input {
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
  margin-bottom: 15px;
  background-color: rgb(235, 233, 229);
  border-radius: 4px;
}

.login form button {
  width: 100%;
  padding: 10px;
  background-color: #f4b115;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.login form button:hover {
  background-color: #fafafa9d;
}

@media (max-width: 768px) {
  .login form {
    width: 80%;
    padding: 10px;
  }

  .login h1 {
    font-size: 2rem;
    font-family: "Georgia", serif;
  }

  .login h2 {
    font-size: 1.5rem;
    font-family: "Georgia", serif;
  }
}

@media (max-width: 480px) {
  .login form {
    width: 90%;
  }

  .login h1,
  .login h2 {
    font-size: 1.2rem;
  }
}
